<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Note</title>
</head>
<body>
<form method="post" action="/note/update/{{ note.id }}">
    <div>
        <label>主题：<input type="text" name="title" value="{{ note.title }}"></label>
    </div>
    <div>
        <label><textarea cols="30" rows="10" name="content">{{ note.content }}</textarea></label>
    </div>
    <div>
        <label><input type="submit" value="保存"></label>
        <a href="/note/all/">
            <button>取消</button>
        </a>
    </div>
</form>
</body>
</html>