<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form method="post" action="/user/reg/">
    <div>
        <label>
            用户名：<input type="text" name="user_name" maxlength="30">
        </label>
    </div>
    <div>
        <label>
            密码：<input type="password" name="password_1" maxlength="32">
        </label>
    </div>
    <div>
        <label>
            确认密码: <input type="password" name="password_2" maxlength="32">
        </label>
    </div>
    <div>
        <label>
            <input type="submit" value="注册">
        </label>
    </div>
</form>
</body>
</html>